

div.title {
	color: rgba(0,0,100,1);
	font-size: 200%;
	margin-top: 1em;
}

li div.title {
	font-size: 100%;
	margin-bottom: 0.5em;
} 


li div.title:hover {
	color: maroon;
}

span.title {
	font-style: italic;
}

.hmt_alignedPassages:hover {
	background-color: rgba(255,255,0,0.3);

}

.hmt_alignedPassages {
	display: flex;
}

.hmt_leftPassage, .hmt_rightPassage {
	min-width: 400px;
}

.hmt_leftPassage {
	 flex-basis: 50em; 
	flex-grow: 1;
}

.hmt_rightPassage {
	 flex-basis: 60em; 
	flex-grow: 1;
}


.hmt_alignedLine {
	height: 2.5em;
}

.hmt_passage {
	color: maroon;
	float: left;
	width: 4em;
	height: 2em;
}


/*
.hmt_alignedLine:first-of-type {
	text-indent: -3em;
}
*/

.hmt_pageCount {
		margin-left: auto;
    margin-right: auto;
    width: 8em
}

a.hmt_facsLink {
	background-image: url(../css/external-link-ltr-icon.svg);
	background-repeat: no-repeat;
	display: none;
	width: 15px;
	height: 15px;
}

.hmt_alignedPassages:hover a.hmt_facsLink {
	display: inline-block;
}

.hmt_noText {
	opacity: 0.5;
	font-family: Helvetica, sans;
	font-size: 85%;
}




.hmt_passage.showPassage_false {
	/* display: none; */
	visibility: hidden;
}




html {
	font-family: "EB Garamond",  "LinuxLibertineORegular", "AseaRegular", "Times", serif; 
	line-height: 1.2em;
	color: #222;
	font-size: 14pt;
	/* background-color: rgba(201, 194, 183, 0.24); */
}

article {
	padding: 1em;
}

div.hmt_mainTextDiv {
	margin-top: 3em;
	margin-bottom: 4em;
}

footer {
	width: 100%;
	margin: 0;
	background-color: antiquewhite;
	height: 4em;
	padding: 10px;
	background-image: url(../css/icon.png);
	background-repeat: no-repeat;
	background-position: left -29px;
	border-top: 3px solid darkgoldenrod;
}

footer p {
	font-family: Helvetica, sans;
	font-weight: 300;
	font-size: 10pt;
	line-height: 1.3;
	margin-left: 228px;
	margin-right: 4em;
}


div.small_print {
	font-family: Helvetica, sans;
	font-weight: 300;
	font-size: 12pt;
	line-height: 1.3;
	color: #201547;
}

p.small_print {
	font-family: Helvetica, sans;
	font-weight: 300;
	font-size: 10pt;
	line-height: 1.3;
	color: #201547;
}

.small_print .cts_nav {
	margin-left: auto;
	margin-right: auto;
	width: 6em;
}


body {
	margin: 0;
}

	

progress {
	width: 400px;
	height: 14px;
	margin: 10px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: #a4a8aa;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}


/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #582c83, #201547 ); 
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}





article {
	background-color: white;
	/* border: 2px solid #201547; */
}


a {
	text-decoration: none;
	color: rgba(0,0,200,1);

}

a:hover {
	border-bottom: 1px solid rgba(125,125,255,0.4);
}

.ot_nav {
	margin: 1em 0 1em 0;
	font-family: Helvetica, sans;
	font-size: 12pt;
}

progress {
	width: 100%;
}

.ohco2_commentBlock {
	font-size: 85%;
}

.ohco2_commentBlock .ohco2_citableNodeContainer	{
	margin-left: 3em;	
}

.ohco2_citableNodeContainer {
	display: block;
	padding: 0.5em;
}

.cite_urn {
	color: navy;
	font-family: "Lucida Sans Typewriter", Monaco, Monospace;
}

.ohco2_tokenized > span {
	display: inline-block;
}

.cite_urn {
	display: none;
}

.ot_lineNo {
	color: maroon;
	font-size: 75%;
	width: 3em;
	display: inline-block;
}

.ot_morph {
	color: navy;
	font-weight: bold;
	padding: 20px 0 5px 5px;
	display: inline-block;
	font-size: 125%;
}

.ot_lsj_link {
	background-color: white;
	padding: 0.5em;
}



.ot_lsj_link a {
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: navy;
	color: white;
	padding: 8px 10px 13px 10px;
	font-size: 150%;
	margin-bottom: 10px;
}

.ot_lsj_link_notice {
	font-family: Helvetica, sans;
	font-size: 12pt;
}

.ot_lsj_link a:hover {
	color: yellow;
}

.open-syntax-modal {
	color: #444;
	font-family: Helvetica, Sans;
	font-size: 80%;
	background-color: white;
	border: 2px solid navy;
	padding: 8px;
}
