// You can add CSS rules here that will be inlined into each document.

.cite_urn {
	opacity: 0.85;
	font-size: 85%;
	display: block;
}

div.hmt_textEntry {
	border: 1px solid silver;
	margin: 1em;
	background-color: #ddd;
}